fastapi
uvicorn
python-multipart
requests
python-dotenv
pydantic
pillow
groq
langchain-text-splitters
tiktoken
pymupdf
sentence-transformers
qdrant-client
streamlit
httpx
asyncpg
sqlalchemy[asyncio]
chainlit