GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL_LLAMA=llama-3.3-70b-versatile
GROQ_MODEL_GPT=openai/gpt-oss-120b

DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_URL=postgresql://postgres:<password>@localhost:5432/postgres

SMTP_PASSWORD=your_smtp_password_here
SMTP_USER=resend
SMTP_EMAIL=onboarding@resend.dev
SMTP_PORT=587
SMTP_HOST=smtp.resend.com
